# sample property file for SQLExplorer P2 meta data generator ant script
# copy it to build.properties and set your local values

# path to eclipse executable
eclipse=/apps/java/eclipse-3.4/eclipse.exe

